#box {
  height: 400px;
  width: 500px;
  border: 1px solid red;
  background-color: rgb(34, 29, 29);
  color: darkgreen;
  padding: 4px 4px;
  overflow-y: scroll;
  scroll-behavior: auto;
  margin: 80px 300px;
  /* align-content: center; */
  overflow-x: auto;
}

.log {
  margin-top: 8px;
  font-family: monospace;
}
